h1{
    font-family: 'Fredoka', sans-serif;
}
body{
   margin: 0;
   padding: 0;
   display: flex;
   background-color: rgba(95, 146, 223, 0.616);
}
.dados{
    margin: auto;
}
fieldset{
    width: 300px;
}
form{
    margin: 5px;
} 
input{
   margin: 5px; 
   border-radius: 4px;
   border: none;
   height: 2 0px;
}  